body {
    background-color: #000;
}

main {
    height: 80vh;
    padding: 10px 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 3px;
    background: center / contain no-repeat url(media/background.jpg);
}
.white {
    width: 100px;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.white:not(:last-child) {
    margin-right: 3px;
}
.part {
    justify-content: center;
    display: flex;
}

.sin .white {
    background-color: #9ad6d1;
}
.sin .white:active {
    background-color: #20e6d5;
}
.tri .white {
    background-color: #cf84c3;
}
.tri .white:active {
    background-color: #e613c2;
}
.sqr .white {
    background-color: #d1c871;
}
.sqr .white:active {
    background-color: #f1db10;
}



header,
footer {
    margin: 25px 0;
    color: #fff;
    text-align: center;
}
a {
    color: #0da4fc;
}